.container {
    background-color: white; /* 배경 색상 */
    border-radius: 0.31rem; /* 모서리 둥글기 */
    padding: 1.50rem; /* 내부 여백 */
    box-shadow: 0 4px 8px #1d3557; /* 파란색 그림자 추가 */
    max-width: 37.50rem; /* 최대 너비 설정 */
    margin: 20px auto 0; /* 상단 여백 추가, 중앙 정렬 */
    max-height: 80vh; /* 최대 높이 설정 (80% 뷰포트 높이) */
    overflow-y: auto; /* 세로 스크롤 가능 */
}


.selectHours {
    width: 100%;
    margin-bottom: 0.31rem; /* 아래 여백 (5px ÷ 16px = 0.31rem) */
    border-radius: 0.25rem; /* 모서리 둥글기 (4px ÷ 16px = 0.25rem) */
    border: 0.13rem solid #415a77 ; /* 버튼 테두리 색상 (2px ÷ 16px = 0.13rem) */
	background-color: white; /* Hover 효과 색상 */
    font-weight: bold;
    padding: 0.50rem; /* 내부 여백 (8px ÷ 16px = 0.50rem) */
}

/* 버튼 hover 효과 */
.selectHours:hover {
    background-color: #415a77; /* Hover 효과 색상 */
	
    color: white;
}

/* 선택된 버튼 색상 */
.selectHours.selected {
    background-color: #415a77; /* 선택된 버튼 색상 */
    color: white;
}

/* 제출 버튼 디자인 */
.submit {
    background-color: white; /* 버튼 색상 */
    border-color: #415a77;
    border-radius: 0.25rem; /* 모서리 둥글기 (4px ÷ 16px = 0.25rem) */
    padding: 0.75rem 1.00rem; /* 내부 여백 (12px ÷ 16px = 0.75rem, 16px ÷ 16px = 1.00rem) */
	box-shadow: none; /* 그림자 제거 */
}

/* 제출 버튼 hover 효과 */
.submit:hover {
    background-color: #415a77; /* Hover 효과 색상 */
	color: white; /* 글자색을 흰색으로 설정 */
	box-shadow: none; /* 그림자 제거 */
   
}

/* form-control 디자인 */
.form-control {
    border-radius: 0.25rem; /* 모서리 둥글기 (4px ÷ 16px = 0.25rem) */
    padding: 0.50rem; /* 내부 여백 (8px ÷ 16px = 0.50rem) */
}

/* 헤더 디자인 */
.header {
    margin-bottom: 1.50rem; /* 아래 여백 (24px ÷ 16px = 1.50rem) */
}

/* 제목 디자인 */
h2 {
    font-size: 1.50rem; /* 제목 크기 */
    font-weight: bold; /* 제목 폰트 두께 */
}

/* 부제목 디자인 */
h4 {

    font-size: 1.13rem; /* 부제목 크기 (18px ÷ 16px = 1.13rem) */
    font-weight: bold; /* 부제목 폰트 두께 */
}
