body {
    display: flex; /* 레이아웃 flex 사용 */
    flex-direction: column; /* 주 축 방향을 열 방향으로 설정 */
    align-items: center; /* 주 축을 따라 아이템들을 가운데 정렬 */
}

h2 {
    color: #6c757d; /* 텍스트 색상 설정 */
}

/* 전체 컨테이너 스타일 */
.container {
    margin-top: 3.13rem; /* 시간표 위로의 여백을 설정합니다. (50px ÷ 16px) */
    margin-bottom: 3.13rem; /* 시간표와 버튼 사이의 여백을 설정합니다. (50px ÷ 16px) */
}

/* 테이블 스타일 */
table {
    border-collapse: collapse; /* 테이블 테두리를 합칩니다. */
    box-shadow: 0 0 1.25rem rgba(0, 0, 0, 0.1); /* 그림자 효과를 추가합니다. (20px ÷ 16px) */
}

th, td {
    padding: 0.63rem; /* 셀 안의 여백을 설정합니다. (10px ÷ 16px) */
    text-align: center; /* 셀 안의 텍스트를 가운데 정렬합니다. */
    border: 0.06rem solid #ddd; /* 테이블 셀 테두리 스타일을 설정합니다. (1px ÷ 16px) */
    width: 8.13rem; /* 셀의 너비를 고정합니다. (130px ÷ 16px) */
}

/* 테이블 헤더 스타일 */
th {
    background-color: #778da9; /* 배경색을 설정합니다. */
    color: #fff; /* 텍스트 색상을 설정합니다. */
}

tbody tr:nth-child(even) {
    background-color: #f2f2f2; /* 짝수 번째 행의 배경색을 설정합니다. */
}

/* 모달 제목 스타일 */
h2 {
    margin-top: -1.56rem; /* 모달 제목의 상단 여백을 조정합니다. (-25px ÷ 16px) */
    margin-bottom: -1.88rem; /* 모달 제목의 하단 여백을 조정합니다. (-30px ÷ 16px) */
}

/* 모달 컨테이너 스타일 */
.modal-container {
    display: none; /* 모달을 숨깁니다. */
    position: fixed; /* 고정 위치로 설정합니다. */
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4); /* 어둡게 배경색을 설정합니다. */
}

/* 모달 콘텐츠 스타일 */
.modal-content {
    background-color: #fefefe; /* 배경색을 설정합니다. */
    margin: 15% auto; /* 모달을 수직 가운데로 정렬합니다. */
    padding: 1.25rem; /* 내부 여백을 설정합니다. (20px ÷ 16px) */
    width: 25%; /* 모달 창의 너비를 설정합니다. */
    display: flex; /* Flexbox 레이아웃을 사용합니다. */
    flex-direction: column; /* 세로 방향으로 정렬합니다. */
    align-items: center; /* 가운데 정렬합니다. */
}

/* 모달 닫기 버튼 스타일 */
.close {
    color: #aaa; /* 글자 색상을 설정합니다. */
    align-self: flex-end; /* 오른쪽 정렬합니다. */
    font-size: 1.75rem; /* 글꼴 크기를 설정합니다. (28px ÷ 16px) */
    font-weight: bold; /* 글꼴 두껍게 설정합니다. */
    cursor: pointer; /* 마우스 커서를 포인터로 변경합니다. */
}

.close:hover,
.close:focus {
    color: black; /* 호버 또는 포커스 시 글자 색상을 변경합니다. */
}

/* 모달 체크박스 */
.modal-checkbox {
    display: none; /* 체크박스를 숨깁니다. */
}

/* 체크박스가 선택되면 모달을 표시합니다. */
.modal-checkbox:checked + .modal-container {
    display: block;
}

/* 버튼 스타일 */
.open-modal-button, .delete-modal-button {
    background-color: #778da9; /* 배경색을 설정합니다. */
    color: white; /* 텍스트 색상을 설정합니다. */
    padding: 0.94rem 2.00rem; /* 내부 여백을 설정합니다. (15px ÷ 16px, 32px ÷ 16px) */
    cursor: pointer; /* 마우스 커서를 포인터로 변경합니다. */
    border-radius: 0.50rem; /* 버튼의 모서리를 둥글게 만듭니다. (8px ÷ 16px) */
    margin: 0.25rem 1.56rem; /* 버튼의 여백을 설정합니다. (4px ÷ 16px, 25px ÷ 16px) */
}

.open-modal-button:hover, .delete-modal-button:hover {
    background-color: #415a77; /* 마우스 버튼 위에 올라갔을 때 배경색 변경 */
}

/* 버튼 컨테이너 스타일 */
.button-container {
    padding: 0.63rem 4.38rem; /* 좌우 여백을 추가합니다. (10px ÷ 16px, 70px ÷ 16px) */
}

/* 폼 스타일 */
.modal-content form {
    display: grid; /* 그리드 레이아웃을 사용합니다. */
    gap: 0.63rem; /* 그리드 사이의 간격을 설정합니다. (10px ÷ 16px) */
}

/* 입력 컨테이너 스타일 */
.modal-content form .input-container {
    display: flex; /* Flexbox를 사용하여 내부 요소를 수평으로 정렬합니다. */
    align-items: center; /* 세로 중앙 정렬합니다. */
}

/* 입력 레이블 스타일 */
.modal-content form label {
    font-weight: bold; /* 글꼴을 두껍게 설정합니다. */
    width: 30%; /* 레이블 너비를 설정합니다. */
    margin-right: 0.63rem; /* 오른쪽 여백을 추가합니다. (10px ÷ 16px) */
}

/* 입력 필드 및 셀렉트 박스 스타일 */
.modal-content form input[type="text"],
.modal-content form select {
    padding: 0.50rem; /* 내부 여백을 설정합니다. (8px ÷ 16px) */
    border: 0.06rem solid #ccc; /* 테두리 스타일을 설정합니다. (1px ÷ 16px) */
    border-radius: 0.25rem; /* 요소 모서리를 둥글게 만듭니다. (4px ÷ 16px) */
}

/* 제출 버튼 스타일 */
.modal-content form input[type="submit"] {
    background-color: #778da9; /* 배경색을 설정합니다. */
    color: white; /* 텍스트 색상을 설정합니다. */
    padding: 0.75rem 1.25rem; /* 내부 여백을 설정합니다. (12px ÷ 16px, 20px ÷ 16px) */
    margin-bottom: -0.94rem; /* 하단 여백을 조정합니다. (-15px ÷ 16px) */
    border: none; /* 테두리를 없앱니다. */
    border-radius: 0.25rem; /* 요소 모서리를 둥글게 만듭니다. (4px ÷ 16px) */
    cursor: pointer; /* 마우스 커서를 포인터로 변경합니다. */
}

/* 제출 버튼 호버 스타일 */
.modal-content form input[type="submit"]:hover {
    background-color: #415a77; /* 호버 시 배경색을 변경합니다. */
}

/* 에러 */
.error {
    color: #fca311; /* 에러 메시지 색상 설정 */
    text-align: center; /* 텍스트 가운데 정렬 */
    margin-top: 0.63rem; /* 위쪽 여백 설정 (10px ÷ 16px) */
    margin-bottom: 0.63rem; /* 아래쪽 여백 설정 (10px ÷ 16px) */
}
