body {
    display: flex; /* 레이아웃 flex 사용 */
    flex-direction: column; /* 주 축 방향을 열 방향으로 설정 */
    align-items: center; /* 주 축을 따라 아이템들을 가운데 정렬 */
}

h2 {
    margin-top: 2.5rem; /* 위 여백 설정 */
    color: #6c757d; /* 텍스트 색상 설정 */
}

form {
    display: flex; /* flexbox 레이아웃 사용 */
    flex-direction: column; /* 자식 요소를 세로 방향으로 배치 */
    align-items: center; /* 자식 요소들을 수평 중앙 정렬 */
    margin-top: 1.25rem; /* 위 여백 설정  */
}

.classroom-button {
    padding: 0.63rem 27rem; /* 안쪽 여백 설정 */
    margin-top: 2.19rem; /* 위 여백 설정 */
    border: none; /* 테두리 제거 */
    border-radius: 1.25rem; /* 테두리 둥글게 설정 */
    background-color: #89c2d9; /* 배경색 설정 */
    color: white; /* 글자색 설정 */
    font-size: 2.5rem; /* 글자 크기 설정 */
    font-weight: bold; /* 글자 굵기 설정 */
}

.classroom-button:hover {
    background-color: #61a5c2; /* 마우스 버튼 위에 올라갔을 때 배경색 변경 */
}

.plus-button {
    padding: 0.63rem 0.63rem; /* 안쪽 여백 설정 */
    margin-top: 2.18rem; /* 위 여백 설정 */
    border: none; /* 테두리 제거 */
    border-radius: 50%; /* 원형으로 만들기 위한 설정 */
    background-color: #89c2d9; /* 배경색 설정 */
    color: white; /* 글자색 설정 */
    font-size: 2.5rem; /* 글자 크기 설정 */
    font-weight: bold; /* 글자 굵기 설정 */
    width: 4rem; /* 너비 설정 */
    height: 4rem; /* 높이 설정 */
    text-align: center; /* 텍스트 가운데 정렬 */
}

.plus-button:hover {
    background-color: #61a5c2; /* 마우스 버튼 위에 올라갔을 때 배경색 변경 */
}
