<html xmlns="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>강의실 상태</title>
    <link rel="stylesheet" href="/css/reserveListStyle.css" />
</head>
<body>
	<header th:replace="~{/menu.html}"></header> 
	<footer th:replace="/footer.html"></footer>
	
    <h1>예약된 좌석</hh1>
    <table>
        <thead>
            <tr>
				<th>강의실</th>
                <th>좌석 번호</th>
                <th>시간대</th>
                <th>랜덤 번호</th>
            </tr>
        </thead>
        <tbody>
            <tr>
				<td th:text="${classroom.classroomName} + '호'"></td>
                <td th:text="${seatNumber} + '번 좌석'"></td>
                <td th:text="${selectHours} + '시'"></td>
                <td th:text="${randomNum} + '번'"></td>
            </tr>
        </tbody>
    </table>
</body>
</html>
