<html xmlns="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>관 선택</title>
    <link rel="stylesheet" href="/css/classSelect.css" />

</head>
<body>
    <header th:replace="/menu.html"></header> <!-- menu.html을 thymeleaf를 통해 헤더에 삽입 -->
	<footer th:replace="/footer.html"></footer>
	 <h2>원하시는 관을 선택해주세요.</h2>
    <!-- 건물 번호 버튼 표시 -->
    <div th:each="classNum : ${classNum}">
        <form th:action="@{/classroomSelect}" method="post">
            <input type="hidden" name="classNum" th:value="${classNum}"/>
            <button type="submit" th:text="${classNum} + '호관'"></button>
        </form>
    </div>
</body>
</html>