<html xmlns="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>즐겨찾기한 강의실</title>
    <link rel="stylesheet" href="/css/classroomStyle.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" /> <!-- FontAwesome 추가 -->
    <style>
        form {
            margin-top: -17px; 
            text-align: center;
        }
        h2 {
            margin-top: 40px; /* 위 여백 설정 */
            color: #6c757d; /* 원하는 색상 코드로 변경 */
               }
    </style>
</head>
<body>
    <header th:replace="/menu.html"></header> <!-- menu.html을 thymeleaf를 통해 헤더에 삽입 -->
	<footer th:replace="/footer.html"></footer>
    <h2>즐겨찾기를 추가해 주세요.</h2>
    <span>
        <form th:action="@{/timeSelect}" method="post">
            <!-- 즐겨찾기한 강의실 버튼 생성 -->
            <div th:each="classroom : ${classroomButtons}">
                <!-- 버튼 클릭 시 선택한 강의실의 이름과 함께 classroomStatus 페이지로 이동하는 버튼 -->
                <button type="submit" name="classroomName" th:value="${classroom}" 
                th:text="${classroom} + '호'" class="classroom-button">
                </button>
            </div>
        </form>
        <form th:action="@{/classSelect}" method="post">
            <!-- Plus 버튼을 누르면 classSelect 페이지로 이동하는 버튼 -->
            <button type="submit" name="plus" value="plus" class="plus-button">+</button>
        </form>
    </span>
</body>
</html>
