<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>푸터</title>
    <style>
		/* 푸터 스타일 */
       footer {
           position: fixed; /* 화면 하단에 고정 */
           bottom: 0; /* 화면 아래쪽에 위치 */
           left: 0; /* 왼쪽 끝에서 시작 */
           width: 100%; /* 가로 크기를 화면 전체로 설정 */
           height: 50px; /* 푸터 높이 설정 */
           background-color: #1d3557; /* 배경색 설정 */
       }
   </style>
   </head>
   <body>
  <!-- 푸터 시작 -->
    <footer>
        <!-- 푸터 내용 없음 -->
    </footer>
    <!-- 푸터 끝 -->
</body>
</html>